.astext {
    font-size:25px;
    border: none;
    background: none;
    border-radius: 3px;
    transition: all .15s ease-in;
}
.astext:hover {
    color: #aaaaaa;
}
#active {
    background-color: #B4C7D8;
}
#inactive {
    background: none;
}

/* it changes the color of highlight when you hover over an active button
<*doesn't work*>
.astext #active:hover {
    color: #65A1D3;
}
*/