.astext {
    font-size:25px;
    border: none;
    background: none;
    border-radius: 3px;
    transition: all .15s ease-in;
}
.astext:hover {
    color: #aaaaaa;
}
#active {
    background-color: #B4C7D8;
}
#inactive {
    background: none;
}