@keyframes spin {
    0%, 50%, 100% {
        transform: rotate(0) scale(.999);
    }
    25% {
        transform: rotate(-.01deg) scale(1);
    }
    75% {
        transform: rotate(.01deg) scale(1);
    }
}
html {
    background: url("images/background.jpg");
}
header {
    font-size: 80px;
    display: block;
    text-align: center;
    animation: spin 2s 0s infinite ease-in;
}
article, header {
    font-family: Helvetica;
    background-color: rgba(210, 218, 220, 0.9);
    box-shadow: 5px 5px 10px #888888;
    border-radius: 25px;
}
header, h1, .astext {
    color: #65A1D3;
}

h1, .project-text div {
    transform: translateX(20px);
}

article ul {
    height: 100px;
    list-style-type: none;
    overflow: scroll;
}
.grid {
    content: 0;
}
img, .project, .overlay {
    width:200px;
    height:200px;
    padding: 0;
}
.astext {
    font-size:25px;
    border: none;
    background: none;
    border-radius: 3px;
    transition: all .15s ease-in;
}
.astext:hover {
    color: #aaaaaa;
}
#active {
    background-color: #B4C7D8;
}
#inactive {
    background: none;
}


.overlay {
    background-color: #273E54;
    overflow: hidden;
    z-index: 2;
    text-align: center;
    display: inline-block;
}
.center{
    height: 200px;
    padding: 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.project {
    transition: opacity .4s;
}
.project:hover {
    opacity:.5;
    
}
.grid {
    width: 350px;
    height: 350px;
}
/*
.scroll-up { I want to have text that will appear after hovering over
    top: 50;
}
.scoll-up:hover {
    top: 0;
}
*/
/*
<*doesn't work*>
.astext #active:hover {
    color: #65A1D3;
}
*/