@keyframes spin {
    0%, 50%, 100% {
        transform: rotate(0) scale(.999);
    }
    25% {
        transform: rotate(-.01deg) scale(1);
    }
    75% {
        transform: rotate(.01deg) scale(1);
    }
}
@keyframes drop {
    0% {
        transform: translateY(-120px);
    }
    100% {
        transform: translateY(0px);
    }
}
html {
    background: url("images/background.jpg");
}
header {
    
    font-size: 80px;
    display: block;
    text-align: center;
    animation: spin 2s 0s infinite ease-in;
}
article, header {
    font-family: Helvetica;
    background-color: rgba(210, 218, 220, 0.9);
    box-shadow: 5px 5px 10px #888888;
    border-radius: 25px;
}
header, h1, .astext {
    color: #65A1D3;
}
h1, article div, article image {
    transform: translateX(20px);
    padding: 0 20px 0 0;
}
article ul {
    height: 100px;
    list-style-type: none;
    overflow: scroll;
}
img {
    width:200px;
    height:200px;
}
.astext {
    font-size:25px;
    border: none;
    background: none;
    border-radius: 3px;
    transition: all .15s ease-in;
}
.astext:hover {
    color: #aaaaaa;
}
#active {
    background-color: #B4C7D8;
}
#inactive {
    background: none;
}
/*
<*doesn't work*>
.astext #active:hover {
    color: #65A1D3;
}
*/