@keyframes spin {
    0%, 50%, 100% {
        transform: rotate(0) scale(.999);
    }
    25% {
        transform: rotate(-.5deg) scale(1);
    }
    75% {
        transform: rotate(.5deg) scale(1);
    }
}
@keyframes drop {
    0% {
        transform: translateY(-120px);
    }
    100% {
        transform: translateY(0px);
    }
}
html {
    background-color: #ccffee;
}
header {
    font-family: Helvetica;
    font-size: 80px;
    color: #65FDCB;
    display: block;
    text-align: center;
    animation: spin 2s 0s infinite ease-in;
}
input, li {
    font-family: Helvetica;
    font-size: 40px;
    width: 700px;
    margin: 0 auto;
    list-style-type: none;
    display: block;
}
.todo-field, ul {
    margin: 0 auto 0;
    border: 0px;
    padding: 0px;
}
input, .list li {
    padding: 40px 80px;
    border: 3px solid #000033;
    background-color: #ffffff;
}
input {
    z-index: 1;
}
li {
    z-index: auto;
    animation: drop .3s 0s ease-out;
}
.shadow {
    box-shadow: 0px 3px 10px #888888;
    margin: 0;
    border: 0;
    padding: 0;
    content: 0;
}
footer {
    text-align: center;
}
footer button {
    padding-right: 10px;
}
button {
    border:none;
    margin:0;
    padding:0;
}
.astext, text {
    background:none;
    transition: color .15s ease-in;
}
.astext:hover {
    color: #aaaaaa;
}
.hide {
    opacity: 0;
    display: none;
}
.show {
    opacity: 1;
    display: block;
}
.comp {
    color: #000033;
    text-decoration: line-through;
}


.complete, .delete {
    display: block;
    background-size: 40px;
    background-color: transparent;
    height: 40px;
    width: 40px;
    opacity: 0;
}

.complete {
    float: left;
    transform: translate(-40px);
    background: url("images/check.png");
}
.complete:hover, .complete:checked, .delete:hover {
    opacity: 1;
}
.delete{
    float: right;
    transform: translate(40px);
    background-image: url("images/x.png");
}
#goBack {
    color: #65FDCB;
    font-size:25px;
    border: none;
    background: none;
    border-radius: 3px;
    transition: all .15s ease-in;
    top: 0;
    right: 0;
    position: absolute;
}
#goBack:hover {
    color: #10B27D;
}